/* general portrait screens */
@media only screen 
   	and (max-device-width: 768px)
   	and (orientation: portrait) {
    #container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 3fr 3fr 2fr;
        align-items: center;
    }     
    #header {
        grid-column: 1/ span 2;
        grid-row: 1/ span 1;
        font-size: 1em;
        /* outline: thin solid red; */
    }    
    #nav-list{
        font-size: 0.75em;
        width: 100%;
        grid-column: 1/ span 2;
        grid-row: 1/ span 4;
    }
    #thumb-container{
        grid-column: 1/ span 2;
        grid-row: 2/ span 2;
        /* outline: thin solid red; */
    }
    
    #thumbs-top-row {
        grid-column: 1/ span 2;
        grid-row: 2/ span 2;
        /* display: inline-block; */
        text-align: center;
        /* outline: thin solid red; */
    }
    
    #thumbs-bottom-row {
        grid-column: 1/ span 2;
        grid-row: 3/ span 1;
        text-align: center;
        /* outline: thin solid red; */
    }
    .thumbs img {
        max-width: 45%;
        height: auto;
        /* outline: thin solid red; */
    }
}

/* tiny portrait screens */
@media only screen 
   	and (min-device-width: 375px)
   	and (max-device-width: 768px)
   	and (orientation: portrait) {
}

@media only screen 
   	and (max-device-width: 812px)
   	and (orientation: landscape) {
        #container {
            grid-template-rows: 2fr 6fr 2fr;
            align-items: center;
        }   
        #header {
            grid-column: 1/ span 2;
            grid-row: 1/ span 1;
            font-size: 1em;
        }   
        #thumb-container{
            grid-column: 1/ span 2;
            grid-row: 2/ span 1;
            text-align: center;
            /* outline: thin solid blue; */
        }
        #thumbs-top-row {
            grid-column: 1/ span 1;
            grid-row: 2/ span 1;
            display: inline;
            /* outline: thin solid red; */
        }
        
        #thumbs-bottom-row {
            grid-column: 2/ span 1;
            grid-row: 2/ span 1;
            display: inline;
            /* outline: thin solid red; */
        }
        .thumbs img {
            max-width: 20%;
            height: auto;
            /* outline: thin solid red; */
        }
        #nav-list{
            font-size: 0.4em;
            width: 50%;
            grid-column: 1/ span 2;
            grid-row: 1/ span 4;
        }
}
