body {
    background-color: black;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: #2B2B2B;
    overflow: hidden;
    user-select: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#container {
    width: 95vw;
    display: grid;
    justify-items: center;
    background-color: white;
    height: 95vh;
    margin: 0 auto;
    transform: translate(0, 1vh); 
    /* outline: thin solid red; */
}

#header {
    text-align: center;
}

#header:hover {
    cursor: pointer;
    text-shadow: 1px 1px 3px gray;
}

#icon {
    font-size: 1em;
}

#nav-list{
    display: none;
    color: white;
    background-color: rgba(0,0,0, 0.75);
    z-index: 1;
    line-height: 1;
    text-align: center;
    padding-top: 2em;
    cursor: pointer;
}

#nav-list>a:hover{
    text-shadow: 1px 1px 5px white;
}

.thumbs {
    display: inline;
} 

.thumbs img {
    border-radius: 0.2em;
    box-shadow: 0.05em 0.05em 0.2em #888888;
    cursor: pointer;
} 

#overlay {
    display: none;
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

#image-holder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#full-image {
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.change-slide {
    color: white; 
    position: fixed;
    top: 50%;
    cursor: pointer;
    padding: 2em;
    margin: -2em;
}

#next {
    right: 0;
}

#prev {
    left: 0;
}

#artist-link {
    position: fixed;
    right: 0.5em;
    bottom: 0;
    font-size: 0.4em;
    color: #9d9d9d;
}

#artist-link>a:visited, a:active, a:link {
    color: #9d9d9d;
}

#artist-link>a:hover {
    color: #2B2B2B;
}
